.img-fluid {
    display: block;
    margin: auto;
}

.headName {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    color: #574931;
}



.horizLines {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}




.priceListColumn {
    margin-left: 50%;
    margin-right: 50%;
}

.card {
    background-color: rgba(255,107,138,0);
    margin: auto;
}

.card-price-name {
    text-align: left;
    float: left;
    width: 70%;
}

.card-price-cost {
    float: right;
    width: 30%;
    color: #d66344;

}


.card-price-name-sale {
    float: left;
    width: 70%;
}

.card-price-cost-sale {
    float: right;
    width: 15%;
    color: grey;
    text-decoration: line-through;

}


.card-price-cost-Sed {
    float: right;
    width: 15%;
    color: #d66344;
}

.card-title {
    margin-bottom: 30px;
}