#body {
    background: -webkit-linear-gradient(right, #FAFAEA, #FFEFC2);
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#loader {
    position: fixed;
    animation: loader 3s ease-in;
    z-index: -12;
    opacity: 0;
    background: -webkit-linear-gradient(right, #FAFAEA, #FFEFC2);
    width: 100%;
    height: 100%;
    
}

#spinner {
    position: relative;
    top: 50%;
}

@keyframes loader {
    0% {
        opacity: 1;
        z-index: 1000;

    }

    50% {
        opacity: 1;
        z-index: 1000;
    }

    100% {
        opacity: 0;
        z-index: 1;
    }
}

